/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background: linear-gradient(135deg, #020617, #0f172a, #1e293b);
    color: #eaeaea;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #1c2541;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #5bc0be;
}

/* Logo */
.logo h1 {
    color: #6fffe9;
    font-size: 28px;
}

/* Navbar */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #eaeaea;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #6fffe9;
}

/* Main section */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    min-height: 80vh;
}

/* Content */
.content h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.content span h1 {
    color: #6fffe9;
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 500px;
    margin-bottom: 30px;
    color: #cbd5e1;
}

/* Buttons */
.cta-btn {
    display: flex;
    gap: 20px;
}

.btn-primary,
.btn-secondary {
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.3s;
}

.btn-primary {
    background-color: #5bc0be;
    color: #0b132b;
}

.btn-primary:hover {
    background-color: #6fffe9;
}

.btn-secondary {
    border: 2px solid #5bc0be;
    color: #5bc0be;
}

.btn-secondary:hover {
    background-color: #5bc0be;
    color: #0b132b;
}

/* Photo */
.photo img {
    border-radius: 50%;
    border: 4px solid #6fffe9;
    object-fit: cover;
}

/* Responsive design */
@media (max-width: 900px) {
    header {
        padding: 20px 40px;
    }

    .main {
        flex-direction: column;
        text-align: center;
        padding: 40px;
    }

    .cta-btn {
        justify-content: center;
    }

    .photo {
        margin-top: 40px;
    }
}
